<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/datatable")

    @Styles.Render("~/Content/select2")
    @Scripts.Render("~/bundles/select2")

    @Scripts.Render("~/Scripts/Shared/Layout.js")

    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

</head>
<body>
    <div class="banner-body">
        <div class="container">
            <div class="banner-body-content">
                <div class="col-xs-2 banner-body-left">
                    <a href="http://www.pizzariasognare.com.br/"><div class="logo"></div></a>
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>                                                                        
                                </button>
                            </div>
                            <div class="collapse navbar-collapse nav-wil" id="main-menu">
                                <nav class="stroke">
                                    <ul class="nav navbar-nav">
                                        <li><a href="https://www.ifood.com.br/pizzasognare/?Origem=SiteParceiro&produto=intermediario " class="hvr-underline-from-left"><img src="~/Images/ifood-icon-min.jpg" />&nbsp;&nbsp;&nbsp;iFood</a></li>
                                        <li>
                                            <a href="@Url.Action("Index", "PizzaFlavor")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Pizzas</a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Index", "Drink")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-glass" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Bebidas</a>
                                        </li>
                                        <li style="@((User.Identity.IsAuthenticated) ? "" : "display:none")">
                                            <a href="@Url.Action("Index", "Customer")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Clientes</a>
                                        </li>
                                        <li style="@((User.Identity.IsAuthenticated) ? "" : "display:none")">
                                            <a href="@Url.Action("Index", "Employer")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Funcionários</a>
                                        </li>
                                        <li style="@((User.Identity.IsAuthenticated) ? "" : "display:none")">
                                            <a href="@Url.Action("Index", "Order")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Pedidos</a>
                                        </li>
                                        <li style="@((User.Identity.IsAuthenticated) ? "" : "display:none")">
                                            <a href="@Url.Action("Logout", "Auth")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;&nbsp;Sair</a>
                                        </li>
                                        <li style="@((!User.Identity.IsAuthenticated) ? "" : "display:none")">
                                            <a href="@Url.Action("Login", "Auth")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Login</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-10 banner-body-right">
                    @RenderBody()
                </div>
                <div class="clearfix"> </div>
                <div class="footer">
                    <div class="footer-left">
                        <p>© 2017 Pizzaria Sognare</p>
                        <p><span><b>E-mail:</b> pizzariasognare@gmail.com</span></p>
                        <p><span><b>Telefones:</b> 21 981679427 | 21 31905297</span></p>
                    </div>
                    <div class="footer-right">
                        <ul class="social-nav model-3">
                            <li><a href="https://www.facebook.com/Pizzaria-Sognare-1030407463701089/" class="icon icon-border twitter"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
