<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @Styles.Render("~/Content/datatable")
    @Scripts.Render("~/bundles/datatable")

    @Scripts.Render("~/Scripts/Shared/Layout.js")
</head>
<body>
    <div class="banner-body">
        <div class="container">
            <div class="banner-body-content">
                <div class="col-xs-2 banner-body-left">
                    <div class="logo">
                    </div>
                    <div class="top-nav">
                        <nav class="navbar navbar-default">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="collapse navbar-collapse nav-wil" id="main-menu">
                                <nav class="stroke">
                                    <ul class="nav navbar-nav">
                                        <li><a href="@Url.Action("Index", "PizzaFlavor")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-th" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Pizzas</a></li>
                                        <li><a href="@Url.Action("Login", "Auth")" class="hvr-underline-from-left"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;Login</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </nav>
                    </div>
                </div>
                <div class="col-xs-10 banner-body-right">
                    @RenderBody()
                </div>
                <div class="clearfix"> </div>
                <div class="footer">
                    <div class="footer-left">
                        <p>© 2016 Pizzaria Sognare</p>
                        <p><span><b>E-mail:</b> pizzariasognare@gmail.com</span></p>
                        <p><span><b>Telefones:</b> 21 981679427 | 21 31905297</span></p>
                    </div>
                    <div class="footer-right">
                        <ul class="social-nav model-3">
                            <li><a href="#" class="icon icon-border twitter"></a></li>
                        </ul>
                    </div>
                    <div class="clearfix"> </div>
                </div>
            </div>
        </div>
    </div>   
</body>
</html>
