@model WebApplication.Models.Order

@{
    ViewBag.Title = "Pedido";
}

<div class="row">
    <div class="col-xs-12">
        <div>
            <div class="dropdown pull-right">
                <button class="btn btn-danger dropdown-toggle" type="button" id="mais-dropdown-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Mais <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="mais-dropdown-menu">                    
                    <li style="@(ViewBag.Modify ? "" : "display:none")">
                        <a href="@Url.Action("Edit", "Order", new { id = Model.id })" title="Editar pedido"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> Editar pedido</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Create", "OrderLog", new { id = Model.id })" title="Adicionar status"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Adicionar Status</a>
                    </li>
                    <li>
                        <a href="@Url.Action("Download", "Order", new { id = Model.id })" title="Baixar pedido"><span class="glyphicon glyphicon-download" aria-hidden="true"></span> Baixar pedido</a>
                    </li>
                    <li style="@(ViewBag.Modify ? "display:none" : "")">
                        <a id="order-print-link" name="order-print-link" href="#" title="Imprimir pedido"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Imprimir pedido</a>
                    </li>                    
                </ul>
            </div>
            <h3 class="bars">Pedido</h3>
        </div>
        <hr />
        <div id="order-div" name="order-div">
            <div class="row">
                <div class="col-xs-5">
                    <dl class="dl-horizontal">
                        <dt>Status</dt>
                        <dd>
                            @(Model.LastOrderLog.OrderStatus.description)
                        </dd>
                        <dt>Código</dt>
                        <dd>
                            @Html.DisplayFor(model => model.id)
                        </dd>
                        <dt>Data</dt>
                        <dd>
                            @(Model.order_date.ToString("dd/MM/yyyy"))
                        </dd>
                        <dt>Forma de Pagamento</dt>
                        <dd>
                            @Html.DisplayFor(model => model.PaymentType.name)
                        </dd>
                        <dt>Preço</dt>
                        <dd>
                            @Html.DisplayFor(model => model.price)
                        </dd>
                        <dt>Desconto</dt>
                        <dd>
                            @Html.DisplayFor(model => model.discount)
                        </dd>
                        <dt>Taxa de Entrega</dt>
                        <dd>
                            @Html.DisplayFor(model => model.delivery_price)
                        </dd>
                        <dt>Preço Final</dt>
                        <dd>
                            @Html.DisplayFor(model => model.final_price)
                        </dd>
                        <dt>Pagamento</dt>
                        <dd>
                            @Html.DisplayFor(model => model.payment)
                        </dd>
                        <dt>Troco</dt>
                        <dd>
                            @Html.DisplayFor(model => model.change)
                        </dd>
                        <dt>OBS</dt>
                        <dd>
                            @Html.DisplayFor(model => model.note)
                        </dd>
                    </dl>
                </div>
                <div class="col-xs-4">
                    <dl class="dl-horizontal">
                        <dt>Nome</dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.Customer.name)
                        </dd>
                        <dt>
                            CEP
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.zip_code)
                        </dd>
                        <dt>
                            Endereço
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.address)
                        </dd>
                        <dt>
                            Número
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.number)
                        </dd>
                        <dt>
                            Complemento
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.complement)
                        </dd>
                        <dt>
                            Bairro
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.neighborhood)
                        </dd>
                        <dt>
                            Cidade
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.city)
                        </dd>
                        <dt>
                            UF
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.acronym_city)
                        </dd>
                        <dt>
                            Referência
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.CustomerAddress.reference_point)
                        </dd>
                    </dl>
                </div>
            </div>
            <div>
                <div class="pull-right">
                    <span style="@(ViewBag.Modify ? "" : "display:none")">
                        <a href="@Url.Action("Create", "OrderPizza", new { id = Model.id })" class="btn btn-primary" title="Adicionar pizza ao pedido"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
                <h3 class="bars">Pizzas</h3>                
                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Quantidade</th>
                            <th>Tamanho</th>
                            <th>Sabor</th>
                            <th>Preço</th>
                            <th style="@(ViewBag.Modify ? "" : "display:none")"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderPizza)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.amount)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pizza.PizzaSize.name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Pizza.PizzaFlavor.name)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.Pizza.price)
                                </td>
                                <td style="@(ViewBag.Modify ? "" : "display:none")">
                                    <a href="@Url.Action("Delete", "OrderPizza", new { id = item.id })" class="btn-sm btn-danger" title="Remover pizza do pedido" style="@((Model.LastOrderLog.order_status_id > 1) ? "display:none": "")"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                        }

                        @if (Model.OrderPizza.Count() == 0)
                        {
                            <tr>
                                <td colspan="5">Nenhuma pizza adicionada ao pedido.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div>
                <div class="pull-right">
                    <span style="@(ViewBag.Modify ? "" : "display:none")">
                        <a href="@Url.Action("Create", "OrderDrink", new { id = Model.id })" class="btn btn-primary" title="Adicionar bebida ao pedido"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
                    </span>
                </div>
                <h3 class="bars">Bebidas</h3>                
                <table class="table table-striped table-bordered" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>Preço</th>
                            <th style="@(ViewBag.Modify ? "" : "display:none")"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.OrderDrink)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Drink.name)
                                </td>
                                <td>
                                    R$ @Html.DisplayFor(modelItem => item.Drink.price)
                                </td>
                                <td style="@(ViewBag.Modify ? "" : "display:none")">
                                    <a href="@Url.Action("Delete", "OrderDrink", new { id = item.id })" class="btn-sm btn-danger" title="Remover bebida do pedido"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                                </td>
                            </tr>
                        }

                        @if (Model.OrderDrink.Count() == 0)
                        {
                            <tr>
                                <td colspan="3">Nenhuma bebida adicionada ao pedido.</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/jquery.printElement.min.js")
@Scripts.Render("~/Scripts/Order/Details.js")
