@model WebApplication.Models.User

@{
    ViewBag.Title = "Editar Usuário";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-right">
                <a href="@Url.Action("Details", "Customer", new { id = ViewBag.Customer.id })" class="btn btn-default" title="Visualizar cliente"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a>
            </div>
            <h3 class="bars">Editar Usuário</h3>
            <h4>Cliente @ViewBag.Customer.name</h4>
            <hr />
        </div>
        <div>
            @using (Html.BeginForm())
            {
                <input type="hidden" id="customer_id" name="customer_id" value="@ViewBag.Customer.id" />
                
                @Html.HiddenFor(model => model.id);
                @Html.HiddenFor(model => model.profile_id)
                @Html.HiddenFor(model => model.enabled)                

                <div class="form-horizontal">
                    <div class="form-group">
                        @Html.LabelFor(model => model.email, "E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "form-control", @maxlength = "100", @readonly="readonly"} })
                            @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.password, "Senha", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-6">
                            @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.enabled, "Habilitado", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-3">
                            @Html.CheckBox("enabled-ckb", htmlAttributes: new { @style = "margin-top:12px;" })
                            @Html.ValidationMessageFor(model => model.enabled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group pull-right">
                        <div class="col-md-offset-2 col-md-10">
                            <button type="submit" value="Entrar" class="btn btn-primary">
                                <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span>
                            </button>
                        </div>
                    </div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                </div>
            }
        </div>
    </div>
</div>

@Scripts.Render("~/Scripts/Customer/Edit.js")