@model IList<WebApplication.Models.Customer>

@{
    ViewBag.Title = "Clientes";
}

<div class="row">
    <div class="col-md-12">
        <div>
            <div class="pull-right">
                <a href="@Url.Action("Create", "Customer")" class="btn btn-primary" title="Adicionar cliente"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a>
            </div>
            <h3 class="bars">Clientes</h3>
            <hr />
        </div>
        <div>
            <table class="table table-striped table-bordered datatable" cellspacing="0" width="100%" ">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nome</th>
                        <th>Telefone</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@(item.enabled == 0 ? "danger" : "")">
                            <td>
                                @Html.DisplayFor(modelItem => item.id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.phone)
                            </td>
                            <td>
                                <a href="@Url.Action("Details", "Customer", new { id = item.id })" class="btn btn-default" title="Visualizar cliente"><span class="glyphicon glyphicon-list" aria-hidden="true"></span></a>
                            </td>
                        </tr>
                    }

                    @if (Model.Count() == 0)
                    {
                        <tr>
                            <td colspan="4">Nenhum cliente encontrado.</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>